body {
        background-image: linear-gradient(to right, rgb(91, 172, 80) , rgb(161, 243, 158));
}

.text {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    
}